*{
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
      
}
.header{
    min-height: 100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav{
    display:flex;
    padding: 5% 6%;
    justify-content:space-between;
    align-items:center;
}
.nav-links{
    flex:1;
    text-align:right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
/* responsible for pedding top and space between them */
    padding:20px 15px; 
    position:relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size:16px;
}


.nav-links ul li a::after{
    content: '';
    width:0%;
    height: 3px;
    background: #03f94d;
    display: block;
    margin:auto;
    transition:0.5s;
}

.nav-links ul li a:hover::after{
    width:100%;
}




.text-box{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    
}
.text-box h1{
    font-size:62px;
}
.text-box p{
    font-size:16px;
    margin: 10px 0 40px;
    color:#fff;
}

.hero-btn{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    /* background:rgb(228, 86, 86); */
    position:relative;
    cursor: pointer;
}
.hero-btn:hover{
    border : 1px solid rgb(4, 233, 31);
    background: rgb(54, 253, 4);
    transition: 0.5s;
}

@media(max-width:700px){
    .text-box h1{
        font-size:30px;
    }
}


/* -------------------course------------- */



.course{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.course h1{
    font-size: 26px;
    font-weight: 600;

}
.course h3{
    text-align: center;
    font-weight:600;
    margin: 10px 0;
    padding-bottom: 15px;
}

/* p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height:22px;
    padding: 10px;

} */

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background:#fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}





/* -------------goals----------------*/

.row{
    display:flex;
    margin-top:5%;
    justify-content: space-between;
}

.campus{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:40px;
}
.campus-col{
    flex-basis:32%;
    /* border-radius: 10px 10px 10px 10px; */
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
}
    

.campus-col img{
    width:75%;
}


/* layer{
    background:transparent;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition:0.5s;
}
.layer:hover{
    background:rgba(188, 141, 141, 0.7);
}  */










                     /* FOOTER */

.footer{
    width:100%;
    text-align:center;
    padding:30px 0;
    background-color: #fff3f3;
}

.footer h4{
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: 600;
}

.icons .fab{
    color:#05fa16;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}





/* ---------------------volutnteer------------ */



.sub-header{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
    font-size: 40px;
}








